<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.anode.anodium">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:icon="@mipmap/ic_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_foreground"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q"
        android:name=".volley.BackendVolley">

        <activity android:name=".WalletInfoActivity" />
        <activity android:name=".WalletStatsActivity" />
        <activity android:name=".TransactionHistoryActivity" />
        <activity
            android:name=".SendPaymentActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".DebugWalletActivity" />
        <activity
            android:name=".WalletActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ForgotPasswordSuccessActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".DebugActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".VerificationActivity" />
        <activity
            android:name=".SignInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AccountMainActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AccountNicknameActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".VpnListActivity"
            android:label="@string/title_activity_vpn_servers_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".AnodeVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
    </application>

</manifest>